<div class="background-conference">
    <div class="flex-container text-white">
        <div>
            <h3>Conf Bs As</h3>
        </div>
        <div>
            <p>Bs AS llega por primera vez a Argentina. Un evento para compartir con nuestra comunidad el conocimiento y
                experiencia de expertos que están creando el futuro de internet. Ven a conocer a miembros del evento, a
                otros
                estudiantes de Codo a Codo y oradores de primer nivel que tenemos para ti. Te esperamos</p>
        </div>
        <div class="pb-5">
            <button class="btn btn-white">Quiero ser orador</button>
            <button class="btn btn-success">Comprar Tickets</button>
        </div>

    </div>
</div>