li {
  list-style: none;
}

.card {
  width: 100%;
  height: 600px;
  cursor: pointer;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}